<a href="https://colab.research.google.com/github/OswalGit01/Entregable_2_Oswal_Gomez/blob/main/Entregable2_Oswa_Gomez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## primer dataframe (DF1)////////////////////////////////////////////////////////////////////////////////////////////////////
import pandas as pd
datos = {
    'nombre': ['Alfred', 'Alejando', 'Sofia', 'Lucas', 'Estiven', 'Manuela', 'Valentina', 'Felipe', 'Lorenzo', 'Daniel'],
    'apellido': ['Zapata', 'Jaramillo', 'Londoño', 'Marquez', 'Gaviria', 'Garcia', 'Perez', 'Botero', 'Castrillon', 'Alvarez'],
    'sexo': ['M', 'M', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'M'],
    'edad(años)': [20, 21, 24, 22, 17, 24, 15, 12, 19, 26],
    'altura (m)': [1.52, 1.63, 1.53, 1.82, 1.80, 1.78, 1.79, 1.72, 1.73, 1.66],
    'peso(kg)': [55, 67, 65, 68, 58, 66, 55, 61, 60, 59],
    'grupos_sanguineos': ['O+', 'A-', 'B+', 'AB+', 'O-', 'A+', 'B-', 'O+', 'AB-', 'A+'],
    'calorias': [2600 , 2500 , 2300 , 2700 , 2400 , 2200 , 2100 , 2000 , 2450 , 2650],
    'actividad_fisica': ['Alta', 'Media', 'Baja', 'Media', 'Alta', 'Media', 'Baja', 'Baja', 'Media', 'Alta'],
    'comidas_al_dia':[3, 4, 3, 5, 3, 4, 3, 4, 3, 5 ],
}
df1 = pd.DataFrame(datos)
print(df1)

      nombre    apellido sexo  edad(años)  altura (m)  peso(kg)  \
0     Alfred      Zapata    M          20        1.52        55
1   Alejando   Jaramillo    M          21        1.63        67
2      Sofia     Londoño    F          24        1.53        65
3      Lucas     Marquez    M          22        1.82        68
4    Estiven     Gaviria    M          17        1.80        58
5    Manuela      Garcia    F          24        1.78        66
6  Valentina       Perez    F          15        1.79        55
7     Felipe      Botero    M          12        1.72        61
8    Lorenzo  Castrillon    M          19        1.73        60
9     Daniel     Alvarez    M          26        1.66        59

  grupos_sanguineos  calorias actividad_fisica  comidas_al_dia
0                O+      2600             Alta               3
1                A-      2500            Media               4
2                B+      2300             Baja               3
3               AB+      2700            Media               5
4                O-      2400             Alta               3
5                A+      2200            Media               4
6                B-      2100             Baja               3
7                O+      2000             Baja               4
8               AB-      2450            Media               3
9                A+      2650             Alta               5

In [ ]:
df1 = pd.DataFrame(datos, index=['a','b','c','d','e','f','g','h','i','j'])
print(df1)

In [ ]:
## primeros 3 datos (cabeza)
df1.head(3)

In [ ]:
## ultimos datos (cola)
df1.tail(3)

In [ ]:
df1.info()

In [ ]:
df1.dtypes

In [ ]:
df1.columns = ['Primer_Nombre', 'Primer_Apellido', 'Sexo_Biologico', 'Edad_Cumplida', 'Altura_en_metros','Peso_en_kilogramos','Tipo_Sangre','Kilocalorías','Frecuencia_ejercicio','Frecuencia_alimentacion']
print(df1)

In [ ]:
names = df1['Primer_Nombre']
print(names)

In [ ]:
df1[['Altura_en_metros', 'Peso_en_kilogramos']]

In [ ]:
# hombres mayores de edad
df1[df1['Edad_Cumplida'] >= 18]
df1[df1['Sexo_Biologico'] != "M"]

In [ ]:
operatorOr = df1[(df1['Edad_Cumplida'] > 18) | (df1['Altura_en_metros'] >= 1.70)]
operatorAnd = df1[(df1['Edad_Cumplida'] <= 18) & (df1['Altura_en_metros'] < 1.75)]

print(operatorOr)
print(operatorAnd)

In [ ]:
df1[['Edad_Cumplida', 'Altura_en_metros', 'Peso_en_kilogramos']].mean()

In [ ]:
df1[['Edad_Cumplida', 'Altura_en_metros', 'Peso_en_kilogramos']].median()

In [ ]:
df1[['Edad_Cumplida', 'Altura_en_metros', 'Peso_en_kilogramos']].std()

In [ ]:
df1[['Edad_Cumplida', 'Altura_en_metros', 'Peso_en_kilogramos']].min()

In [ ]:
df1[['Edad_Cumplida', 'Altura_en_metros', 'Peso_en_kilogramos']].max()

In [ ]:
df1.describe()

In [ ]:
df1 = df1.drop(columns='Primer_Apellido')
print(df1)

In [ ]:
df1 = df1.drop(index='g')
print(df1)

In [ ]:
## segundo dataframe (DF2)////////////////////////////////////////////////////////////////////////////////////////////////////
import pandas as pd

datos2 = {
    'ciudad': ['Bogotá', 'Medellín', 'Cali', 'Barranquilla', 'Bucaramanga', 'Cartagena', 'Pereira', 'Manizales', 'Cúcuta', 'Ibagué'],
    'profesion': ['Ingeniero', 'Doctor', 'Abogado', 'Diseñador', 'Profesor', 'Enfermero', 'Psicólogo', 'Contador', 'Arquitecto', 'Chef'],
    'estado_civil': ['Soltero', 'Casado', 'Soltero', 'Divorciado', 'Viudo', 'Casado', 'Soltero', 'Casado', 'Divorciado', 'Soltero'],
    'nivel_educativo': ['Bachiller', 'Universitario', 'Técnico', 'Maestría', 'Doctorado', 'Universitario', 'Técnico', 'Maestría', 'Bachiller', 'Doctorado'],
    'tipo_vivienda': ['Casa', 'Apartamento', 'Casa', 'Apartamento', 'Casa', 'Apartamento', 'Casa', 'Apartamento', 'Casa', 'Apartamento'],
    'afiliacion_salud': ['EPS', 'Prepagada', 'EPS', 'SISBEN', 'EPS', 'Prepagada', 'SISBEN', 'EPS', 'Prepagada', 'SISBEN'],
    'medio_transporte': ['Bus', 'Metro', 'Moto', 'Carro', 'Bicicleta', 'Taxi', 'Pie', 'Bus', 'Metro', 'Carro'],
    'mascotas': [2, 2, 1, 4, 2, 1, 1, 2, 0, 1],
    'hobby': ['Leer', 'Deportes', 'Cine', 'Música', 'Viajar', 'Videojuegos', 'Pintar', 'Bailar', 'Fotografía', 'Jardinería'],
    'genero_musical': ['Rock', 'Pop', 'Salsa', 'Reggaetón', 'Clásica', 'Vallenato', 'Rap', 'Jazz', 'Electrónica', 'Blues']
}

df2 = pd.DataFrame(datos2)
print(df2)

In [ ]:
df2 = pd.DataFrame(datos2, index=[1,2,3,4,5,6,7,8,9,10])
print(df2)

In [ ]:
df2.head(2)

In [ ]:
df2.tail(4)

In [ ]:
df2.info()

In [ ]:
df2.dtypes

In [ ]:
df2.columns = ['localidad_residencia', 'ocupacion_laboral', 'situacion_conyugal', 'formacion_academica', 'tipo_de_residencia', 'regimen_salud', 'medio_de_movilizacion', 'cantidad_mascotas', 'actividad_preferida', 'estilo_musical']
print(df2)

In [ ]:
names2 = df2['formacion_academica']
print(names2)

In [ ]:
df2[['regimen_salud', 'medio_de_movilizacion',]]

In [ ]:
# hombres mayores de edad
df2[df2['localidad_residencia'] != 'Bucaramanga' ]
df2[df2['estilo_musical'] != 'Reggaetón']

In [ ]:
operatorOr2 = df2[(df2['localidad_residencia'] == 'Manizales') | (df2['regimen_salud'] == 'EPS')]
operatorAnd2 = df2[(df2['cantidad_mascotas'] == '2') & (df2['ocupacion_laboral'] == 'Abogado')]

print(operatorOr2)
print(operatorAnd2)

In [ ]:
df2[['cantidad_mascotas']].mean()

In [ ]:
df2[['cantidad_mascotas']].median()

In [ ]:
df2[['cantidad_mascotas']].std()

In [ ]:
df2[['cantidad_mascotas']].min()

In [ ]:
df2[['cantidad_mascotas']].max()

In [ ]:
df2.describe()

In [ ]:
df2 = df2.drop(columns='localidad_residencia')
print(df2)

In [ ]:
df2 = df2.drop(index= 4)
print(df2)

In [75]:
## tercer dataframe (DF3)////////////////////////////////////////////////////////////////////////////////////////////////////
import pandas as pd

datos3 = {
    'id_usuario': [1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010],
    'nombre_usuario': ['natalia23', 'diego87', 'laura_m', 'felipe09', 'andres_21', 'caro12', 'mateoZ', 'linaX', 'santi_b', 'julian99'],
    'pais': ['Colombia', 'México', 'Chile', 'Perú', 'Argentina', 'Ecuador', 'Colombia', 'México', 'Chile', 'Perú'],
    'edad': [25, 34, 28, 19, 42, 31, 22, 27, 30, 36],
    'suscrito_newsletter': ['Sí', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí', 'No', 'Sí', 'Sí'],
    'puntos_fidelidad': [1240, 875, 1320, 455, 2100, 600, 980, 1105, 760, 1580],
    'nivel_membresia': ['Oro', 'Plata', 'Oro', 'Bronce', 'Oro', 'Plata', 'Bronce', 'Plata', 'Bronce', 'Oro'],
    'visitas_ult_mes': [5, 2, 8, 1, 12, 3, 6, 4, 7, 10],
    'dispositivo': ['Móvil', 'Computador', 'Móvil', 'Tablet', 'Computador', 'Móvil', 'Tablet', 'Computador', 'Móvil', 'Tablet'],
    'calificacion_satisfaccion': [4.5, 3.8, 4.9, 3.2, 5.0, 4.1, 4.3, 3.5, 4.7, 4.0]
}

df3 = pd.DataFrame(datos3)

In [ ]:
# Iindice en numeros romanos
df3 = pd.DataFrame(datos3, index=['l','11','111','1V','V','V1','V11','V111','1X','X'])
print(df3)

In [ ]:
df3.head(1)

In [ ]:
df3.tail(7)

In [ ]:
df3.info()

In [ ]:
df3.dtypes

In [ ]:
df3.columns = ['codigo_identificacion', 'alias_usuario', 'nacion_origen', 'edad_cumplida', 'recibe_boletin', 'creditos_acumulados', 'categoria_membresia', 'frecuencia_mensual_visitas', 'equipo_utilizado', 'valoracion_experiencia']
print(df3)

In [ ]:
names3 = df3['edad_cumplida']
print(names3)

In [ ]:
df3[['creditos_acumulados', 'categoria_membresia']]

In [ ]:
df3[df3['edad_cumplida'] >= 18]
df3[df3['recibe_boletin'] != 'Sí']

In [ ]:
operatorOr3 = df3[(df3['creditos_acumulados'] > 1000) | (df3['edad_cumplida'] >= 30)]
operatorAnd3 = df3[(df3['frecuencia_mensual_visitas'] <= 5) & (df3['valoracion_experiencia'] < 4.5)]

print(operatorOr3)
print(operatorAnd3)

In [ ]:
df3[['edad_cumplida', 'creditos_acumulados']].mean()

In [ ]:
df3[['edad_cumplida', 'creditos_acumulados' ]].median()

In [ ]:
df3[['edad_cumplida', 'creditos_acumulados']].std()

In [ ]:
df3[['edad_cumplida', 'creditos_acumulados']].min()

In [ ]:
df3[['edad_cumplida', 'creditos_acumulados']].max()

In [ ]:
df3 = df3.drop(columns='categoria_membresia')
print(df3)

In [ ]:
df3 = df3.drop(index='V11')
print(df3)