<a href="https://colab.research.google.com/github/OswalGit01/Entregable_2_Oswal_Gomez/blob/main/Entregable2_Oswa_Gomez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## primer dataframe (DF1)////////////////////////////////////////////////////////////////////////////////////////////////////
import pandas as pd
datos = {
    'nombre': ['Alfred', 'Alejando', 'Sofia', 'Lucas', 'Estiven', 'Manuela', 'Valentina', 'Felipe', 'Lorenzo', 'Daniel'],
    'apellido': ['Zapata', 'Jaramillo', 'Londoño', 'Marquez', 'Gaviria', 'Garcia', 'Perez', 'Botero', 'Castrillon', 'Alvarez'],
    'sexo': ['M', 'M', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'M'],
    'edad(años)': [20, 21, 24, 22, 17, 24, 15, 12, 19, 26],
    'altura (m)': [1.52, 1.63, 1.53, 1.82, 1.80, 1.78, 1.79, 1.72, 1.73, 1.66],
    'peso(kg)': [55, 67, 65, 68, 58, 66, 55, 61, 60, 59],
    'grupos_sanguineos': ['O+', 'A-', 'B+', 'AB+', 'O-', 'A+', 'B-', 'O+', 'AB-', 'A+'],
    'calorias': [2600 , 2500 , 2300 , 2700 , 2400 , 2200 , 2100 , 2000 , 2450 , 2650],
    'actividad_fisica': ['Alta', 'Media', 'Baja', 'Media', 'Alta', 'Media', 'Baja', 'Baja', 'Media', 'Alta'],
    'comidas_al_dia':[3, 4, 3, 5, 3, 4, 3, 4, 3, 5 ],
}
df1 = pd.DataFrame(datos)
print(df1)

      nombre    apellido sexo  edad(años)  altura (m)  peso(kg)  \
0     Alfred      Zapata    M          20        1.52        55
1   Alejando   Jaramillo    M          21        1.63        67
2      Sofia     Londoño    F          24        1.53        65
3      Lucas     Marquez    M          22        1.82        68
4    Estiven     Gaviria    M          17        1.80        58
5    Manuela      Garcia    F          24        1.78        66
6  Valentina       Perez    F          15        1.79        55
7     Felipe      Botero    M          12        1.72        61
8    Lorenzo  Castrillon    M          19        1.73        60
9     Daniel     Alvarez    M          26        1.66        59

  grupos_sanguineos  calorias actividad_fisica  comidas_al_dia
0                O+      2600             Alta               3
1                A-      2500            Media               4
2                B+      2300             Baja               3
3               AB+      2700            Media               5
4                O-      2400             Alta               3
5                A+      2200            Media               4
6                B-      2100             Baja               3
7                O+      2000             Baja               4
8               AB-      2450            Media               3
9                A+      2650             Alta               5

In [2]:
df1 = pd.DataFrame(datos, index=['a','b','c','d','e','f','g','h','i','j'])
print(df1)

      nombre    apellido sexo  edad(años)  altura (m)  peso(kg)  \
a     Alfred      Zapata    M          20        1.52        55
b   Alejando   Jaramillo    M          21        1.63        67
c      Sofia     Londoño    F          24        1.53        65
d      Lucas     Marquez    M          22        1.82        68
e    Estiven     Gaviria    M          17        1.80        58
f    Manuela      Garcia    F          24        1.78        66
g  Valentina       Perez    F          15        1.79        55
h     Felipe      Botero    M          12        1.72        61
i    Lorenzo  Castrillon    M          19        1.73        60
j     Daniel     Alvarez    M          26        1.66        59

  grupos_sanguineos  calorias actividad_fisica  comidas_al_dia
a                O+      2600             Alta               3
b                A-      2500            Media               4
c                B+      2300             Baja               3
d               AB+      2700            Media               5
e                O-      2400             Alta               3
f                A+      2200            Media               4
g                B-      2100             Baja               3
h                O+      2000             Baja               4
i               AB-      2450            Media               3
j                A+      2650             Alta               5

In [3]:
## primeros 3 datos (cabeza)
df1.head(3)

,nombre,apellido,sexo,edad(años),altura (m),peso(kg),grupos_sanguineos,calorias,actividad_fisica,comidas_al_dia
a,Alfred,Zapata,M,20,1.52,55,O+,2600,Alta,3
b,Alejando,Jaramillo,M,21,1.63,67,A-,2500,Media,4
c,Sofia,Londoño,F,24,1.53,65,B+,2300,Baja,3

In [4]:
## ultimos datos (cola)
df1.tail(3)

,nombre,apellido,sexo,edad(años),altura (m),peso(kg),grupos_sanguineos,calorias,actividad_fisica,comidas_al_dia
h,Felipe,Botero,M,12,1.72,61,O+,2000,Baja,4
i,Lorenzo,Castrillon,M,19,1.73,60,AB-,2450,Media,3
j,Daniel,Alvarez,M,26,1.66,59,A+,2650,Alta,5

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nombre             10 non-null     object
 1   apellido           10 non-null     object
 2   sexo               10 non-null     object
 3   edad(años)         10 non-null     int64
 4   altura (m)         10 non-null     float64
 5   peso(kg)           10 non-null     int64
 6   grupos_sanguineos  10 non-null     object
 7   calorias           10 non-null     int64
 8   actividad_fisica   10 non-null     object
 9   comidas_al_dia     10 non-null     int64
dtypes: float64(1), int64(4), object(5)
memory usage: 1.2+ KB

In [6]:
df1.dtypes

nombre                object
apellido              object
sexo                  object
edad(años)             int64
altura (m)           float64
peso(kg)               int64
grupos_sanguineos     object
calorias               int64
actividad_fisica      object
comidas_al_dia         int64
dtype: object

In [7]:
df1.columns = ['Primer_Nombre', 'Primer_Apellido', 'Sexo_Biologico', 'Edad_Cumplida', 'Altura_en_metros','Peso_en_kilogramos','Tipo_Sangre','Kilocalorías','Frecuencia_ejercicio','Frecuencia_alimentacion']
print(df1)

  Primer_Nombre Primer_Apellido Sexo_Biologico  Edad_Cumplida  \
a        Alfred          Zapata              M             20
b      Alejando       Jaramillo              M             21
c         Sofia         Londoño              F             24
d         Lucas         Marquez              M             22
e       Estiven         Gaviria              M             17
f       Manuela          Garcia              F             24
g     Valentina           Perez              F             15
h        Felipe          Botero              M             12
i       Lorenzo      Castrillon              M             19
j        Daniel         Alvarez              M             26

   Altura_en_metros  Peso_en_kilogramos Tipo_Sangre  Kilocalorías  \
a              1.52                  55          O+          2600
b              1.63                  67          A-          2500
c              1.53                  65          B+          2300
d              1.82                  68         AB+          2700
e              1.80                  58          O-          2400
f              1.78                  66          A+          2200
g              1.79                  55          B-          2100
h              1.72                  61          O+          2000
i              1.73                  60         AB-          2450
j              1.66                  59          A+          2650

  Frecuencia_ejercicio  Frecuencia_alimentacion
a                 Alta                        3
b                Media                        4
c                 Baja                        3
d                Media                        5
e                 Alta                        3
f                Media                        4
g                 Baja                        3
h                 Baja                        4
i                Media                        3
j                 Alta                        5

In [8]:
names = df1['Primer_Nombre']
print(names)

a       Alfred
b     Alejando
c        Sofia
d        Lucas
e      Estiven
f      Manuela
g    Valentina
h       Felipe
i      Lorenzo
j       Daniel
Name: Primer_Nombre, dtype: object

In [9]:
df1[['Altura_en_metros', 'Peso_en_kilogramos']]

   Altura_en_metros  Peso_en_kilogramos
a              1.52                  55
b              1.63                  67
c              1.53                  65
d              1.82                  68
e              1.80                  58
f              1.78                  66
g              1.79                  55
h              1.72                  61
i              1.73                  60
j              1.66                  59

In [10]:
# hombres mayores de edad
df1[df1['Edad_Cumplida'] >= 18]
df1[df1['Sexo_Biologico'] != "M"]

,Primer_Nombre,Primer_Apellido,Sexo_Biologico,Edad_Cumplida,Altura_en_metros,Peso_en_kilogramos,Tipo_Sangre,Kilocalorías,Frecuencia_ejercicio,Frecuencia_alimentacion
c,Sofia,Londoño,F,24,1.53,65,B+,2300,Baja,3
f,Manuela,Garcia,F,24,1.78,66,A+,2200,Media,4
g,Valentina,Perez,F,15,1.79,55,B-,2100,Baja,3

In [11]:
operatorOr = df1[(df1['Edad_Cumplida'] > 18) | (df1['Altura_en_metros'] >= 1.70)]
operatorAnd = df1[(df1['Edad_Cumplida'] <= 18) & (df1['Altura_en_metros'] < 1.75)]

print(operatorOr)
print(operatorAnd)

  Primer_Nombre Primer_Apellido Sexo_Biologico  Edad_Cumplida  \
a        Alfred          Zapata              M             20
b      Alejando       Jaramillo              M             21
c         Sofia         Londoño              F             24
d         Lucas         Marquez              M             22
e       Estiven         Gaviria              M             17
f       Manuela          Garcia              F             24
g     Valentina           Perez              F             15
h        Felipe          Botero              M             12
i       Lorenzo      Castrillon              M             19
j        Daniel         Alvarez              M             26

   Altura_en_metros  Peso_en_kilogramos Tipo_Sangre  Kilocalorías  \
a              1.52                  55          O+          2600
b              1.63                  67          A-          2500
c              1.53                  65          B+          2300
d              1.82                  68         AB+          2700
e              1.80                  58          O-          2400
f              1.78                  66          A+          2200
g              1.79                  55          B-          2100
h              1.72                  61          O+          2000
i              1.73                  60         AB-          2450
j              1.66                  59          A+          2650

  Frecuencia_ejercicio  Frecuencia_alimentacion
a                 Alta                        3
b                Media                        4
c                 Baja                        3
d                Media                        5
e                 Alta                        3
f                Media                        4
g                 Baja                        3
h                 Baja                        4
i                Media                        3
j                 Alta                        5
  Primer_Nombre Primer_Apellido Sexo_Biologico  Edad_Cumplida  \
h        Felipe          Botero              M             12

   Altura_en_metros  Peso_en_kilogramos Tipo_Sangre  Kilocalorías  \
h              1.72                  61          O+          2000

  Frecuencia_ejercicio  Frecuencia_alimentacion
h                 Baja                        4

In [12]:
df1[['Edad_Cumplida', 'Altura_en_metros', 'Peso_en_kilogramos']].mean()

Edad_Cumplida         20.000
Altura_en_metros       1.698
Peso_en_kilogramos    61.400
dtype: float64

In [13]:
df1[['Edad_Cumplida', 'Altura_en_metros', 'Peso_en_kilogramos']].median()

Edad_Cumplida         20.500
Altura_en_metros       1.725
Peso_en_kilogramos    60.500
dtype: float64

In [14]:
df1[['Edad_Cumplida', 'Altura_en_metros', 'Peso_en_kilogramos']].std()

Edad_Cumplida         4.371626
Altura_en_metros      0.109524
Peso_en_kilogramos    4.835057
dtype: float64

In [15]:
df1[['Edad_Cumplida', 'Altura_en_metros', 'Peso_en_kilogramos']].min()

Edad_Cumplida         12.00
Altura_en_metros       1.52
Peso_en_kilogramos    55.00
dtype: float64

In [16]:
df1[['Edad_Cumplida', 'Altura_en_metros', 'Peso_en_kilogramos']].max()

Edad_Cumplida         26.00
Altura_en_metros       1.82
Peso_en_kilogramos    68.00
dtype: float64

In [17]:
df1.describe()

,Edad_Cumplida,Altura_en_metros,Peso_en_kilogramos,Kilocalorías,Frecuencia_alimentacion
count,10.000000,10.000000,10.000000,10.000000,10.000000
mean,20.000000,1.698000,61.400000,2390.000000,3.700000
std,4.371626,0.109524,4.835057,236.643191,0.823273
min,12.000000,1.520000,55.000000,2000.000000,3.000000
25%,17.500000,1.637500,58.250000,2225.000000,3.000000
50%,20.500000,1.725000,60.500000,2425.000000,3.500000
75%,23.500000,1.787500,65.750000,2575.000000,4.000000
max,26.000000,1.820000,68.000000,2700.000000,5.000000

In [18]:
df1 = df1.drop(columns='Primer_Apellido')
print(df1)

  Primer_Nombre Sexo_Biologico  Edad_Cumplida  Altura_en_metros  \
a        Alfred              M             20              1.52
b      Alejando              M             21              1.63
c         Sofia              F             24              1.53
d         Lucas              M             22              1.82
e       Estiven              M             17              1.80
f       Manuela              F             24              1.78
g     Valentina              F             15              1.79
h        Felipe              M             12              1.72
i       Lorenzo              M             19              1.73
j        Daniel              M             26              1.66

   Peso_en_kilogramos Tipo_Sangre  Kilocalorías Frecuencia_ejercicio  \
a                  55          O+          2600                 Alta
b                  67          A-          2500                Media
c                  65          B+          2300                 Baja
d                  68         AB+          2700                Media
e                  58          O-          2400                 Alta
f                  66          A+          2200                Media
g                  55          B-          2100                 Baja
h                  61          O+          2000                 Baja
i                  60         AB-          2450                Media
j                  59          A+          2650                 Alta

   Frecuencia_alimentacion
a                        3
b                        4
c                        3
d                        5
e                        3
f                        4
g                        3
h                        4
i                        3
j                        5

In [19]:
df1 = df1.drop(index='g')
print(df1)

  Primer_Nombre Sexo_Biologico  Edad_Cumplida  Altura_en_metros  \
a        Alfred              M             20              1.52
b      Alejando              M             21              1.63
c         Sofia              F             24              1.53
d         Lucas              M             22              1.82
e       Estiven              M             17              1.80
f       Manuela              F             24              1.78
h        Felipe              M             12              1.72
i       Lorenzo              M             19              1.73
j        Daniel              M             26              1.66

   Peso_en_kilogramos Tipo_Sangre  Kilocalorías Frecuencia_ejercicio  \
a                  55          O+          2600                 Alta
b                  67          A-          2500                Media
c                  65          B+          2300                 Baja
d                  68         AB+          2700                Media
e                  58          O-          2400                 Alta
f                  66          A+          2200                Media
h                  61          O+          2000                 Baja
i                  60         AB-          2450                Media
j                  59          A+          2650                 Alta

   Frecuencia_alimentacion
a                        3
b                        4
c                        3
d                        5
e                        3
f                        4
h                        4
i                        3
j                        5

In [20]:
## segundo dataframe (DF2)////////////////////////////////////////////////////////////////////////////////////////////////////
import pandas as pd

datos2 = {
    'ciudad': ['Bogotá', 'Medellín', 'Cali', 'Barranquilla', 'Bucaramanga', 'Cartagena', 'Pereira', 'Manizales', 'Cúcuta', 'Ibagué'],
    'profesion': ['Ingeniero', 'Doctor', 'Abogado', 'Diseñador', 'Profesor', 'Enfermero', 'Psicólogo', 'Contador', 'Arquitecto', 'Chef'],
    'estado_civil': ['Soltero', 'Casado', 'Soltero', 'Divorciado', 'Viudo', 'Casado', 'Soltero', 'Casado', 'Divorciado', 'Soltero'],
    'nivel_educativo': ['Bachiller', 'Universitario', 'Técnico', 'Maestría', 'Doctorado', 'Universitario', 'Técnico', 'Maestría', 'Bachiller', 'Doctorado'],
    'tipo_vivienda': ['Casa', 'Apartamento', 'Casa', 'Apartamento', 'Casa', 'Apartamento', 'Casa', 'Apartamento', 'Casa', 'Apartamento'],
    'afiliacion_salud': ['EPS', 'Prepagada', 'EPS', 'SISBEN', 'EPS', 'Prepagada', 'SISBEN', 'EPS', 'Prepagada', 'SISBEN'],
    'medio_transporte': ['Bus', 'Metro', 'Moto', 'Carro', 'Bicicleta', 'Taxi', 'Pie', 'Bus', 'Metro', 'Carro'],
    'mascotas': [2, 2, 1, 4, 2, 1, 1, 2, 0, 1],
    'hobby': ['Leer', 'Deportes', 'Cine', 'Música', 'Viajar', 'Videojuegos', 'Pintar', 'Bailar', 'Fotografía', 'Jardinería'],
    'genero_musical': ['Rock', 'Pop', 'Salsa', 'Reggaetón', 'Clásica', 'Vallenato', 'Rap', 'Jazz', 'Electrónica', 'Blues']
}

df2 = pd.DataFrame(datos2)
print(df2)

         ciudad   profesion estado_civil nivel_educativo tipo_vivienda  \
0        Bogotá   Ingeniero      Soltero       Bachiller          Casa
1      Medellín      Doctor       Casado   Universitario   Apartamento
2          Cali     Abogado      Soltero         Técnico          Casa
3  Barranquilla   Diseñador   Divorciado        Maestría   Apartamento
4   Bucaramanga    Profesor        Viudo       Doctorado          Casa
5     Cartagena   Enfermero       Casado   Universitario   Apartamento
6       Pereira   Psicólogo      Soltero         Técnico          Casa
7     Manizales    Contador       Casado        Maestría   Apartamento
8        Cúcuta  Arquitecto   Divorciado       Bachiller          Casa
9        Ibagué        Chef      Soltero       Doctorado   Apartamento

  afiliacion_salud medio_transporte  mascotas        hobby genero_musical
0              EPS              Bus         2         Leer           Rock
1        Prepagada            Metro         2     Deportes            Pop
2              EPS             Moto         1         Cine          Salsa
3           SISBEN            Carro         4       Música      Reggaetón
4              EPS        Bicicleta         2       Viajar        Clásica
5        Prepagada             Taxi         1  Videojuegos      Vallenato
6           SISBEN              Pie         1       Pintar            Rap
7              EPS              Bus         2       Bailar           Jazz
8        Prepagada            Metro         0   Fotografía    Electrónica
9           SISBEN            Carro         1   Jardinería          Blues

In [21]:
df2 = pd.DataFrame(datos2, index=[1,2,3,4,5,6,7,8,9,10])
print(df2)

          ciudad   profesion estado_civil nivel_educativo tipo_vivienda  \
1         Bogotá   Ingeniero      Soltero       Bachiller          Casa
2       Medellín      Doctor       Casado   Universitario   Apartamento
3           Cali     Abogado      Soltero         Técnico          Casa
4   Barranquilla   Diseñador   Divorciado        Maestría   Apartamento
5    Bucaramanga    Profesor        Viudo       Doctorado          Casa
6      Cartagena   Enfermero       Casado   Universitario   Apartamento
7        Pereira   Psicólogo      Soltero         Técnico          Casa
8      Manizales    Contador       Casado        Maestría   Apartamento
9         Cúcuta  Arquitecto   Divorciado       Bachiller          Casa
10        Ibagué        Chef      Soltero       Doctorado   Apartamento

   afiliacion_salud medio_transporte  mascotas        hobby genero_musical
1               EPS              Bus         2         Leer           Rock
2         Prepagada            Metro         2     Deportes            Pop
3               EPS             Moto         1         Cine          Salsa
4            SISBEN            Carro         4       Música      Reggaetón
5               EPS        Bicicleta         2       Viajar        Clásica
6         Prepagada             Taxi         1  Videojuegos      Vallenato
7            SISBEN              Pie         1       Pintar            Rap
8               EPS              Bus         2       Bailar           Jazz
9         Prepagada            Metro         0   Fotografía    Electrónica
10           SISBEN            Carro         1   Jardinería          Blues

In [22]:
df2.head(2)

,ciudad,profesion,estado_civil,nivel_educativo,tipo_vivienda,afiliacion_salud,medio_transporte,mascotas,hobby,genero_musical
1,Bogotá,Ingeniero,Soltero,Bachiller,Casa,EPS,Bus,2,Leer,Rock
2,Medellín,Doctor,Casado,Universitario,Apartamento,Prepagada,Metro,2,Deportes,Pop

In [23]:
df2.tail(4)

,ciudad,profesion,estado_civil,nivel_educativo,tipo_vivienda,afiliacion_salud,medio_transporte,mascotas,hobby,genero_musical
7,Pereira,Psicólogo,Soltero,Técnico,Casa,SISBEN,Pie,1,Pintar,Rap
8,Manizales,Contador,Casado,Maestría,Apartamento,EPS,Bus,2,Bailar,Jazz
9,Cúcuta,Arquitecto,Divorciado,Bachiller,Casa,Prepagada,Metro,0,Fotografía,Electrónica
10,Ibagué,Chef,Soltero,Doctorado,Apartamento,SISBEN,Carro,1,Jardinería,Blues

In [24]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 1 to 10
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ciudad            10 non-null     object
 1   profesion         10 non-null     object
 2   estado_civil      10 non-null     object
 3   nivel_educativo   10 non-null     object
 4   tipo_vivienda     10 non-null     object
 5   afiliacion_salud  10 non-null     object
 6   medio_transporte  10 non-null     object
 7   mascotas          10 non-null     int64
 8   hobby             10 non-null     object
 9   genero_musical    10 non-null     object
dtypes: int64(1), object(9)
memory usage: 880.0+ bytes

In [25]:
df2.dtypes

ciudad              object
profesion           object
estado_civil        object
nivel_educativo     object
tipo_vivienda       object
afiliacion_salud    object
medio_transporte    object
mascotas             int64
hobby               object
genero_musical      object
dtype: object

In [26]:
df2.columns = ['localidad_residencia', 'ocupacion_laboral', 'situacion_conyugal', 'formacion_academica', 'tipo_de_residencia', 'regimen_salud', 'medio_de_movilizacion', 'cantidad_mascotas', 'actividad_preferida', 'estilo_musical']
print(df2)

   localidad_residencia ocupacion_laboral situacion_conyugal  \
1                Bogotá         Ingeniero            Soltero
2              Medellín            Doctor             Casado
3                  Cali           Abogado            Soltero
4          Barranquilla         Diseñador         Divorciado
5           Bucaramanga          Profesor              Viudo
6             Cartagena         Enfermero             Casado
7               Pereira         Psicólogo            Soltero
8             Manizales          Contador             Casado
9                Cúcuta        Arquitecto         Divorciado
10               Ibagué              Chef            Soltero

   formacion_academica tipo_de_residencia regimen_salud medio_de_movilizacion  \
1            Bachiller               Casa           EPS                   Bus
2        Universitario        Apartamento     Prepagada                 Metro
3              Técnico               Casa           EPS                  Moto
4             Maestría        Apartamento        SISBEN                 Carro
5            Doctorado               Casa           EPS             Bicicleta
6        Universitario        Apartamento     Prepagada                  Taxi
7              Técnico               Casa        SISBEN                   Pie
8             Maestría        Apartamento           EPS                   Bus
9            Bachiller               Casa     Prepagada                 Metro
10           Doctorado        Apartamento        SISBEN                 Carro

    cantidad_mascotas actividad_preferida estilo_musical
1                   2                Leer           Rock
2                   2            Deportes            Pop
3                   1                Cine          Salsa
4                   4              Música      Reggaetón
5                   2              Viajar        Clásica
6                   1         Videojuegos      Vallenato
7                   1              Pintar            Rap
8                   2              Bailar           Jazz
9                   0          Fotografía    Electrónica
10                  1          Jardinería          Blues

In [27]:
names2 = df2['formacion_academica']
print(names2)

1         Bachiller
2     Universitario
3           Técnico
4          Maestría
5         Doctorado
6     Universitario
7           Técnico
8          Maestría
9         Bachiller
10        Doctorado
Name: formacion_academica, dtype: object

In [28]:
df2[['regimen_salud', 'medio_de_movilizacion',]]

   regimen_salud medio_de_movilizacion
1            EPS                   Bus
2      Prepagada                 Metro
3            EPS                  Moto
4         SISBEN                 Carro
5            EPS             Bicicleta
6      Prepagada                  Taxi
7         SISBEN                   Pie
8            EPS                   Bus
9      Prepagada                 Metro
10        SISBEN                 Carro

In [29]:
# hombres mayores de edad
df2[df2['localidad_residencia'] != 'Bucaramanga' ]
df2[df2['estilo_musical'] != 'Reggaetón']

,localidad_residencia,ocupacion_laboral,situacion_conyugal,formacion_academica,tipo_de_residencia,regimen_salud,medio_de_movilizacion,cantidad_mascotas,actividad_preferida,estilo_musical
1,Bogotá,Ingeniero,Soltero,Bachiller,Casa,EPS,Bus,2,Leer,Rock
2,Medellín,Doctor,Casado,Universitario,Apartamento,Prepagada,Metro,2,Deportes,Pop
3,Cali,Abogado,Soltero,Técnico,Casa,EPS,Moto,1,Cine,Salsa
5,Bucaramanga,Profesor,Viudo,Doctorado,Casa,EPS,Bicicleta,2,Viajar,Clásica
6,Cartagena,Enfermero,Casado,Universitario,Apartamento,Prepagada,Taxi,1,Videojuegos,Vallenato
7,Pereira,Psicólogo,Soltero,Técnico,Casa,SISBEN,Pie,1,Pintar,Rap
8,Manizales,Contador,Casado,Maestría,Apartamento,EPS,Bus,2,Bailar,Jazz
9,Cúcuta,Arquitecto,Divorciado,Bachiller,Casa,Prepagada,Metro,0,Fotografía,Electrónica
10,Ibagué,Chef,Soltero,Doctorado,Apartamento,SISBEN,Carro,1,Jardinería,Blues

In [30]:
operatorOr2 = df2[(df2['localidad_residencia'] == 'Manizales') | (df2['regimen_salud'] == 'EPS')]
operatorAnd2 = df2[(df2['cantidad_mascotas'] == '2') & (df2['ocupacion_laboral'] == 'Abogado')]

print(operatorOr2)
print(operatorAnd2)

  localidad_residencia ocupacion_laboral situacion_conyugal  \
1               Bogotá         Ingeniero            Soltero
3                 Cali           Abogado            Soltero
5          Bucaramanga          Profesor              Viudo
8            Manizales          Contador             Casado

  formacion_academica tipo_de_residencia regimen_salud medio_de_movilizacion  \
1           Bachiller               Casa           EPS                   Bus
3             Técnico               Casa           EPS                  Moto
5           Doctorado               Casa           EPS             Bicicleta
8            Maestría        Apartamento           EPS                   Bus

   cantidad_mascotas actividad_preferida estilo_musical
1                  2                Leer           Rock
3                  1                Cine          Salsa
5                  2              Viajar        Clásica
8                  2              Bailar           Jazz
Empty DataFrame
Columns: [localidad_residencia, ocupacion_laboral, situacion_conyugal, formacion_academica, tipo_de_residencia, regimen_salud, medio_de_movilizacion, cantidad_mascotas, actividad_preferida, estilo_musical]
Index: []

In [31]:
df2[['cantidad_mascotas']].mean()

cantidad_mascotas    1.6
dtype: float64

In [32]:
df2[['cantidad_mascotas']].median()

cantidad_mascotas    1.5
dtype: float64

In [33]:
df2[['cantidad_mascotas']].std()

cantidad_mascotas    1.074968
dtype: float64

In [34]:
df2[['cantidad_mascotas']].min()

cantidad_mascotas    0
dtype: int64

In [35]:
df2[['cantidad_mascotas']].max()

cantidad_mascotas    4
dtype: int64

In [36]:
df2.describe()

       cantidad_mascotas
count          10.000000
mean            1.600000
std             1.074968
min             0.000000
25%             1.000000
50%             1.500000
75%             2.000000
max             4.000000

In [37]:
df2 = df2.drop(columns='localidad_residencia')
print(df2)

   ocupacion_laboral situacion_conyugal formacion_academica  \
1          Ingeniero            Soltero           Bachiller
2             Doctor             Casado       Universitario
3            Abogado            Soltero             Técnico
4          Diseñador         Divorciado            Maestría
5           Profesor              Viudo           Doctorado
6          Enfermero             Casado       Universitario
7          Psicólogo            Soltero             Técnico
8           Contador             Casado            Maestría
9         Arquitecto         Divorciado           Bachiller
10              Chef            Soltero           Doctorado

   tipo_de_residencia regimen_salud medio_de_movilizacion  cantidad_mascotas  \
1                Casa           EPS                   Bus                  2
2         Apartamento     Prepagada                 Metro                  2
3                Casa           EPS                  Moto                  1
4         Apartamento        SISBEN                 Carro                  4
5                Casa           EPS             Bicicleta                  2
6         Apartamento     Prepagada                  Taxi                  1
7                Casa        SISBEN                   Pie                  1
8         Apartamento           EPS                   Bus                  2
9                Casa     Prepagada                 Metro                  0
10        Apartamento        SISBEN                 Carro                  1

   actividad_preferida estilo_musical
1                 Leer           Rock
2             Deportes            Pop
3                 Cine          Salsa
4               Música      Reggaetón
5               Viajar        Clásica
6          Videojuegos      Vallenato
7               Pintar            Rap
8               Bailar           Jazz
9           Fotografía    Electrónica
10          Jardinería          Blues

In [38]:
df2 = df2.drop(index= 4)
print(df2)

   ocupacion_laboral situacion_conyugal formacion_academica  \
1          Ingeniero            Soltero           Bachiller
2             Doctor             Casado       Universitario
3            Abogado            Soltero             Técnico
5           Profesor              Viudo           Doctorado
6          Enfermero             Casado       Universitario
7          Psicólogo            Soltero             Técnico
8           Contador             Casado            Maestría
9         Arquitecto         Divorciado           Bachiller
10              Chef            Soltero           Doctorado

   tipo_de_residencia regimen_salud medio_de_movilizacion  cantidad_mascotas  \
1                Casa           EPS                   Bus                  2
2         Apartamento     Prepagada                 Metro                  2
3                Casa           EPS                  Moto                  1
5                Casa           EPS             Bicicleta                  2
6         Apartamento     Prepagada                  Taxi                  1
7                Casa        SISBEN                   Pie                  1
8         Apartamento           EPS                   Bus                  2
9                Casa     Prepagada                 Metro                  0
10        Apartamento        SISBEN                 Carro                  1

   actividad_preferida estilo_musical
1                 Leer           Rock
2             Deportes            Pop
3                 Cine          Salsa
5               Viajar        Clásica
6          Videojuegos      Vallenato
7               Pintar            Rap
8               Bailar           Jazz
9           Fotografía    Electrónica
10          Jardinería          Blues

In [42]:
## tercer dataframe (DF3)////////////////////////////////////////////////////////////////////////////////////////////////////
import pandas as pd

datos3 = {
    'id_usuario': [1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010],
    'nombre_usuario': ['natalia23', 'diego87', 'laura_m', 'felipe09', 'andres_21', 'caro12', 'mateoZ', 'linaX', 'santi_b', 'julian99'],
    'pais': ['Colombia', 'México', 'Chile', 'Perú', 'Argentina', 'Ecuador', 'Colombia', 'México', 'Chile', 'Perú'],
    'edad': [25, 34, 28, 19, 42, 31, 22, 27, 30, 36],
    'suscrito_newsletter': ['Sí', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí', 'No', 'Sí', 'Sí'],
    'puntos_fidelidad': [1240, 875, 1320, 455, 2100, 600, 980, 1105, 760, 1580],
    'nivel_membresia': ['Oro', 'Plata', 'Oro', 'Bronce', 'Oro', 'Plata', 'Bronce', 'Plata', 'Bronce', 'Oro'],
    'visitas_ult_mes': [5, 2, 8, 1, 12, 3, 6, 4, 7, 10],
    'dispositivo': ['Móvil', 'Computador', 'Móvil', 'Tablet', 'Computador', 'Móvil', 'Tablet', 'Computador', 'Móvil', 'Tablet'],
    'calificacion_satisfaccion': [4.5, 3.8, 4.9, 3.2, 5.0, 4.1, 4.3, 3.5, 4.7, 4.0]
}

df3 = pd.DataFrame(datos3)
print (df3)

   id_usuario nombre_usuario       pais  edad suscrito_newsletter  \
0        1001      natalia23   Colombia    25                  Sí
1        1002        diego87     México    34                  No
2        1003        laura_m      Chile    28                  Sí
3        1004       felipe09       Perú    19                  Sí
4        1005      andres_21  Argentina    42                  No
5        1006         caro12    Ecuador    31                  No
6        1007         mateoZ   Colombia    22                  Sí
7        1008          linaX     México    27                  No
8        1009        santi_b      Chile    30                  Sí
9        1010       julian99       Perú    36                  Sí

   puntos_fidelidad nivel_membresia  visitas_ult_mes dispositivo  \
0              1240             Oro                5       Móvil
1               875           Plata                2  Computador
2              1320             Oro                8       Móvil
3               455          Bronce                1      Tablet
4              2100             Oro               12  Computador
5               600           Plata                3       Móvil
6               980          Bronce                6      Tablet
7              1105           Plata                4  Computador
8               760          Bronce                7       Móvil
9              1580             Oro               10      Tablet

   calificacion_satisfaccion
0                        4.5
1                        3.8
2                        4.9
3                        3.2
4                        5.0
5                        4.1
6                        4.3
7                        3.5
8                        4.7
9                        4.0

In [64]:
# Iindice en numeros romanos
df3 = pd.DataFrame(datos3, index=['l','11','111','1V','V','V1','V11','V111','1X','X'])
print(df3)

      id_usuario nombre_usuario       pais  edad suscrito_newsletter  \
l           1001      natalia23   Colombia    25                  Sí
11          1002        diego87     México    34                  No
111         1003        laura_m      Chile    28                  Sí
1V          1004       felipe09       Perú    19                  Sí
V           1005      andres_21  Argentina    42                  No
V1          1006         caro12    Ecuador    31                  No
V11         1007         mateoZ   Colombia    22                  Sí
V111        1008          linaX     México    27                  No
1X          1009        santi_b      Chile    30                  Sí
X           1010       julian99       Perú    36                  Sí

      puntos_fidelidad nivel_membresia  visitas_ult_mes dispositivo  \
l                 1240             Oro                5       Móvil
11                 875           Plata                2  Computador
111               1320             Oro                8       Móvil
1V                 455          Bronce                1      Tablet
V                 2100             Oro               12  Computador
V1                 600           Plata                3       Móvil
V11                980          Bronce                6      Tablet
V111              1105           Plata                4  Computador
1X                 760          Bronce                7       Móvil
X                 1580             Oro               10      Tablet

      calificacion_satisfaccion
l                           4.5
11                          3.8
111                         4.9
1V                          3.2
V                           5.0
V1                          4.1
V11                         4.3
V111                        3.5
1X                          4.7
X                           4.0

In [65]:
df3.head(1)

,id_usuario,nombre_usuario,pais,edad,suscrito_newsletter,puntos_fidelidad,nivel_membresia,visitas_ult_mes,dispositivo,calificacion_satisfaccion
l,1001,natalia23,Colombia,25,Sí,1240,Oro,5,Móvil,4.5

In [66]:
df3.tail(7)

,id_usuario,nombre_usuario,pais,edad,suscrito_newsletter,puntos_fidelidad,nivel_membresia,visitas_ult_mes,dispositivo,calificacion_satisfaccion
1V,1004,felipe09,Perú,19,Sí,455,Bronce,1,Tablet,3.2
V,1005,andres_21,Argentina,42,No,2100,Oro,12,Computador,5.0
V1,1006,caro12,Ecuador,31,No,600,Plata,3,Móvil,4.1
V11,1007,mateoZ,Colombia,22,Sí,980,Bronce,6,Tablet,4.3
V111,1008,linaX,México,27,No,1105,Plata,4,Computador,3.5
1X,1009,santi_b,Chile,30,Sí,760,Bronce,7,Móvil,4.7
X,1010,julian99,Perú,36,Sí,1580,Oro,10,Tablet,4.0

In [67]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, l to X
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_usuario                 10 non-null     int64
 1   nombre_usuario             10 non-null     object
 2   pais                       10 non-null     object
 3   edad                       10 non-null     int64
 4   suscrito_newsletter        10 non-null     object
 5   puntos_fidelidad           10 non-null     int64
 6   nivel_membresia            10 non-null     object
 7   visitas_ult_mes            10 non-null     int64
 8   dispositivo                10 non-null     object
 9   calificacion_satisfaccion  10 non-null     float64
dtypes: float64(1), int64(4), object(5)
memory usage: 1.2+ KB

In [68]:
df3.dtypes

id_usuario                     int64
nombre_usuario                object
pais                          object
edad                           int64
suscrito_newsletter           object
puntos_fidelidad               int64
nivel_membresia               object
visitas_ult_mes                int64
dispositivo                   object
calificacion_satisfaccion    float64
dtype: object

In [69]:
df3.columns = ['codigo_identificacion', 'alias_usuario', 'nacion_origen', 'edad_cumplida', 'recibe_boletin', 'creditos_acumulados', 'categoria_membresia', 'frecuencia_mensual_visitas', 'equipo_utilizado', 'valoracion_experiencia']
print(df3)

      codigo_identificacion alias_usuario nacion_origen  edad_cumplida  \
l                      1001     natalia23      Colombia             25
11                     1002       diego87        México             34
111                    1003       laura_m         Chile             28
1V                     1004      felipe09          Perú             19
V                      1005     andres_21     Argentina             42
V1                     1006        caro12       Ecuador             31
V11                    1007        mateoZ      Colombia             22
V111                   1008         linaX        México             27
1X                     1009       santi_b         Chile             30
X                      1010      julian99          Perú             36

     recibe_boletin  creditos_acumulados categoria_membresia  \
l                Sí                 1240                 Oro
11               No                  875               Plata
111              Sí                 1320                 Oro
1V               Sí                  455              Bronce
V                No                 2100                 Oro
V1               No                  600               Plata
V11              Sí                  980              Bronce
V111             No                 1105               Plata
1X               Sí                  760              Bronce
X                Sí                 1580                 Oro

      frecuencia_mensual_visitas equipo_utilizado  valoracion_experiencia
l                              5            Móvil                     4.5
11                             2       Computador                     3.8
111                            8            Móvil                     4.9
1V                             1           Tablet                     3.2
V                             12       Computador                     5.0
V1                             3            Móvil                     4.1
V11                            6           Tablet                     4.3
V111                           4       Computador                     3.5
1X                             7            Móvil                     4.7
X                             10           Tablet                     4.0

In [70]:
names3 = df3['edad_cumplida']
print(names3)

l       25
11      34
111     28
1V      19
V       42
V1      31
V11     22
V111    27
1X      30
X       36
Name: edad_cumplida, dtype: int64

In [71]:
df3[['creditos_acumulados', 'categoria_membresia']]

      creditos_acumulados categoria_membresia
l                    1240                 Oro
11                    875               Plata
111                  1320                 Oro
1V                    455              Bronce
V                    2100                 Oro
V1                    600               Plata
V11                   980              Bronce
V111                 1105               Plata
1X                    760              Bronce
X                    1580                 Oro

In [72]:
df3[df3['edad_cumplida'] >= 18]
df3[df3['recibe_boletin'] != 'Sí']

,codigo_identificacion,alias_usuario,nacion_origen,edad_cumplida,recibe_boletin,creditos_acumulados,categoria_membresia,frecuencia_mensual_visitas,equipo_utilizado,valoracion_experiencia
11,1002,diego87,México,34,No,875,Plata,2,Computador,3.8
V,1005,andres_21,Argentina,42,No,2100,Oro,12,Computador,5.0
V1,1006,caro12,Ecuador,31,No,600,Plata,3,Móvil,4.1
V111,1008,linaX,México,27,No,1105,Plata,4,Computador,3.5

In [73]:
operatorOr3 = df3[(df3['creditos_acumulados'] > 1000) | (df3['edad_cumplida'] >= 30)]
operatorAnd3 = df3[(df3['frecuencia_mensual_visitas'] <= 5) & (df3['valoracion_experiencia'] < 4.5)]

print(operatorOr3)
print(operatorAnd3)

      codigo_identificacion alias_usuario nacion_origen  edad_cumplida  \
l                      1001     natalia23      Colombia             25
11                     1002       diego87        México             34
111                    1003       laura_m         Chile             28
V                      1005     andres_21     Argentina             42
V1                     1006        caro12       Ecuador             31
V111                   1008         linaX        México             27
1X                     1009       santi_b         Chile             30
X                      1010      julian99          Perú             36

     recibe_boletin  creditos_acumulados categoria_membresia  \
l                Sí                 1240                 Oro
11               No                  875               Plata
111              Sí                 1320                 Oro
V                No                 2100                 Oro
V1               No                  600               Plata
V111             No                 1105               Plata
1X               Sí                  760              Bronce
X                Sí                 1580                 Oro

      frecuencia_mensual_visitas equipo_utilizado  valoracion_experiencia
l                              5            Móvil                     4.5
11                             2       Computador                     3.8
111                            8            Móvil                     4.9
V                             12       Computador                     5.0
V1                             3            Móvil                     4.1
V111                           4       Computador                     3.5
1X                             7            Móvil                     4.7
X                             10           Tablet                     4.0
      codigo_identificacion alias_usuario nacion_origen  edad_cumplida  \
11                     1002       diego87        México             34
1V                     1004      felipe09          Perú             19
V1                     1006        caro12       Ecuador             31
V111                   1008         linaX        México             27

     recibe_boletin  creditos_acumulados categoria_membresia  \
11               No                  875               Plata
1V               Sí                  455              Bronce
V1               No                  600               Plata
V111             No                 1105               Plata

      frecuencia_mensual_visitas equipo_utilizado  valoracion_experiencia
11                             2       Computador                     3.8
1V                             1           Tablet                     3.2
V1                             3            Móvil                     4.1
V111                           4       Computador                     3.5

In [74]:
df3[['edad_cumplida', 'creditos_acumulados']].mean()

edad_cumplida            29.4
creditos_acumulados    1101.5
dtype: float64

In [53]:
df3[['edad_cumplida', 'creditos_acumulados' ]].median()

edad_cumplida            29.0
creditos_acumulados    1042.5
dtype: float64

In [54]:
df3[['edad_cumplida', 'creditos_acumulados']].std()

edad_cumplida            6.801961
creditos_acumulados    488.199925
dtype: float64

In [55]:
df3[['edad_cumplida', 'creditos_acumulados']].min()

edad_cumplida           19
creditos_acumulados    455
dtype: int64

In [56]:
df3[['edad_cumplida', 'creditos_acumulados']].max()

edad_cumplida            42
creditos_acumulados    2100
dtype: int64

In [75]:
df3 = df3.drop(columns='categoria_membresia')
print(df3)

      codigo_identificacion alias_usuario nacion_origen  edad_cumplida  \
l                      1001     natalia23      Colombia             25
11                     1002       diego87        México             34
111                    1003       laura_m         Chile             28
1V                     1004      felipe09          Perú             19
V                      1005     andres_21     Argentina             42
V1                     1006        caro12       Ecuador             31
V11                    1007        mateoZ      Colombia             22
V111                   1008         linaX        México             27
1X                     1009       santi_b         Chile             30
X                      1010      julian99          Perú             36

     recibe_boletin  creditos_acumulados  frecuencia_mensual_visitas  \
l                Sí                 1240                           5
11               No                  875                           2
111              Sí                 1320                           8
1V               Sí                  455                           1
V                No                 2100                          12
V1               No                  600                           3
V11              Sí                  980                           6
V111             No                 1105                           4
1X               Sí                  760                           7
X                Sí                 1580                          10

     equipo_utilizado  valoracion_experiencia
l               Móvil                     4.5
11         Computador                     3.8
111             Móvil                     4.9
1V             Tablet                     3.2
V          Computador                     5.0
V1              Móvil                     4.1
V11            Tablet                     4.3
V111       Computador                     3.5
1X              Móvil                     4.7
X              Tablet                     4.0

In [77]:
df3 = df3.drop(index ='V11')
print(df3)

      codigo_identificacion alias_usuario nacion_origen  edad_cumplida  \
l                      1001     natalia23      Colombia             25
11                     1002       diego87        México             34
111                    1003       laura_m         Chile             28
1V                     1004      felipe09          Perú             19
V                      1005     andres_21     Argentina             42
V1                     1006        caro12       Ecuador             31
V111                   1008         linaX        México             27
1X                     1009       santi_b         Chile             30
X                      1010      julian99          Perú             36

     recibe_boletin  creditos_acumulados  frecuencia_mensual_visitas  \
l                Sí                 1240                           5
11               No                  875                           2
111              Sí                 1320                           8
1V               Sí                  455                           1
V                No                 2100                          12
V1               No                  600                           3
V111             No                 1105                           4
1X               Sí                  760                           7
X                Sí                 1580                          10

     equipo_utilizado  valoracion_experiencia
l               Móvil                     4.5
11         Computador                     3.8
111             Móvil                     4.9
1V             Tablet                     3.2
V          Computador                     5.0
V1              Móvil                     4.1
V111       Computador                     3.5
1X              Móvil                     4.7
X              Tablet                     4.0